[submodule "thirdparty/etl"]
	path = thirdparty/etl
	url = https://github.com/dearonesama/etl
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/dearonesama/Catch2
[submodule "thirdparty/fpm"]
	path = thirdparty/fpm
	url = https://github.com/dearoneesama/fpm
